body {
	font-family: Monospace;
	font-size: 12px;
	background-color: #f0f0f0;
	margin: 0px;
	overflow: hidden;
}

.world_popup{
	position: absolute;
	display: none;
	z-index: 100;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
	background-color: white;
	border: 1px solid #999;
}

.info{
	position: absolute;
	top: 5px;
	width: 100%;
	text-align: center;
}

#info{
	display: none;
}

#world_popup{
	display: none;
}