/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ###################### END RESET ###################### */

/*Uncomment to debug layout*/
/*
*{
	outline: 3px solid orange;
}
*/

* {
	-webkit-box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
}

body{
	background: ;
	font-family: sans-serif;
}

.container{
	margin: 0 auto;
}

.container > div{
	float: left;
}

#info{
	width: 280px;
	padding: 20px;
}

#info div{
	margin: 0 20px 0 0;
	border-bottom: 1px solid white;
	padding: 5px;
}

#wrap{
	position: relative;
}

#timer{
	position: absolute;
	font-size: 50px;
	top: 30px;
	color: black;
	font-weight: bold;
	left: 50%;
}

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	padding: 20px;
	
	
	line-height: 35px;
}

#message{
	font-size: 30px;
	text-align: center;
}

#info{

}

.fps{
	position: absolute;
	top: 0;
	left: 0;
}

#overlay div{
	float: left;
}

.round{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.shadow{
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.5);
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}